<div class="row borderr">
  <form (ngSubmit)="onAdd(formMenu)" #formMenu="ngForm">
    <div class="col-md-12 form-group">
      <h2>{{foodUnit.name}}</h2>
      <div class="col-md-4">
      <img src="{{foodUnit.imagePath}}" class="img-responsive">
      </div>
      <div class="col-md-8">
        <p>{{foodUnit.description}}</p>
      </div>
    </div>
    <div class="col-sm-6 form-group">
      <label for="quantity">Quantity</label>
      <input
        type="number"
        id="quantity"
        class="form-control"
        name="quantity"
        ngModel
        required
        pattern="^[1-9]+[0-9]*$"
      >
    </div>

    <div class="col-sm-6 form-group">
      <label for="quantitySize">Size</label>
      <select
        class="form-control"
        id="quantitySize"
        name="quantitySize"
        ngModel
        required
      >
        <option value=" bag(s)">bag(s)</option>
        <option value=" bottle(s)">bottle(s)</option>
        <option value=" bundle(s)">bundle(s)</option>
        <option value=" can(s)">can(s)</option>
        <option value=" cup(s)">cup(s)</option>
        <option value=" dl">dl</option>
        <option value=" glass(es)">glass(es)</option>
        <option value=" gram">gram</option>
        <option value=" jar(s)">jar(s)</option>
        <option value=" kg">kg</option>
        <option value=" liter">liter(s)</option>
        <option value=" ml">ml</option>
        <option value=" oz">oz.</option>
        <option value=" piece(s)">piece(s)</option>
        <option value=" pound">pound(s)</option>
      </select>
    </div>

    <div class="col-sm-12 form-group">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <div class="input-group">
            <label for="date">Expiration date: {{expirationDate}}</label>
            <input
              type="date"
              class="form-control"
              id="date"
              name="date"
              [min]="dateChanged"
              formControlName="expirationDate"
              (change)="setValueForAux($event)"
              ngModel
            >
            <button class="btn btn-primary" (click)="onChangeExpirationDate()">Change exp. date</button>
            <p *ngIf="textShow">Successfully changed to {{dateChanged}}!</p>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-12 form-group">
      <div class="form-group">
        <input
          placeholder="Enter address of store"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          type="text"
          class="form-control"
          name="searchLocation"
          #search
          [formControl]="searchControl"
          required
          ngModel
        >
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>

    <div class="col-md-12 form-group">
      <div class="btn-group dropup" appDropdown>
        <button
          type="submit"
          class="btn btn-primary dropdown-toggle"
          [disabled]="!formMenu.valid || !searchControl.valid"
        >
          Manage Item <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddToFridge(formMenu)" style="cursor: pointer;">To Fridge</a></li>
          <li><a (click)="onAddToWishList(formMenu)" style="cursor: pointer;">To WishList</a></li>
        </ul>
      </div>
      <button class="btn btn-danger" type="button" (click)="closeDetailedSection()">Cancel</button>
    </div>
  </form>
</div>

