
<div class="subnav">
  <a href="#">
    <button
      class="subnavbtn hiddentxt"
      (mousemove)="onSelected()">{{menuItem.name}}
      <i class="caret"></i>
    </button>
    <!--<div
      class="hiddenimg">
      <img src="{{menuItem.imagePath}}" width="90" height="60" />
    </div>-->
  </a>
    <div class="subnav-content">
      <a href="#"><img src="{{menuItem.imagePath}}" width="90" height="60"/></a>
      <a href="#" *ngFor="let foodUnit of menuItem.foodUnits" (click)="openDetailSection(foodUnit)">
        <img src="{{foodUnit.imagePath}}" width="70" height="60">
      </a>
    </div>
</div>
