div.left {
  position: absolute;
  left: auto;
  width: 200px;
  height: 670px;
}

.image{
  height:40em;
  background-size:cover;
  width:auto;
  height: auto;
  background-repeat: no-repeat;
  background-image:url(../assets/images/background/rgback.jpeg);
  background-position:center;
}

