<nav class="navbar navbar-default" xmlns="http://www.w3.org/1999/html">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">SmartFridge</a>
    </div>

    <!--    <div class="collapse navbar-collapse" *ngIf="isAuthenticated">-->
        <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="!isAuthenticated">
          <a href="#" (click)="onSelect('register/login')">Register/Login</a>
        </li>
        <li><a href="#" (click)="onSelect('choose-a-fridge')"> Choose Fridge</a> </li>
        <li><a href="#" (click)="onSelect('main-page')">Main Page</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
        <li class="dropdown" appDropdown>
            <a href="#" class="dropdown-toggle" role="button">
              {{authenticatedEmail}}
              <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a> </li>
            <li><a href="#">Switch Fridge</a> </li>
            <li><a href="#">Account Settings</a> </li>
            <li><a href="#">Admin Page</a> </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
