<nav class="navbar navbar-default navbar-inverse" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="navbar-header" *ngIf="isAuthenticated">
      <a class="navbar-brand" style="cursor: context-menu;">SmartFridge</a>
    </div>

    <div class="navbar-header navbar-nav" *ngIf="!isAuthenticated">
      <a class="navbar-brand" style="cursor: context-menu;">SmartFridge</a>
    </div>

    <div class="collapse navbar-collapse" *ngIf="isAuthenticated">
      <ul class="nav navbar-nav">
        <li *ngIf="!isAuthenticated"> <a routerLink="/reglog" (click)="onSelect('reglog')">Register/Login</a> </li>
        <li *ngIf="!isAuthenticated"><a routerLink="/chooseFridge" (click)="onSelect('chooseFridge')"> Choose Fridge</a> </li>
        <li *ngIf="!isAuthenticated"><a routerLink="/main" (click)="onSelect('main-page')">Main Page</a> </li>
      </ul>


      <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
        <li class="dropdown" appDropdown>

          <a class="dropdown-toggle" role="button" style="cursor: pointer;">
            {{authenticatedEmail}}
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li><a href="#" (click)="onLogout()">Logout</a> </li>
            <li><a style="cursor: pointer;" (click)="switchFridge()">Switch Fridge</a> </li>
            <li><a style="cursor: pointer;" (click)="onChangePassword()">Change Password</a> </li>
          </ul>

        </li>
      </ul>

    </div>

  </div>
</nav>
